/* 此文件为兜底文件，用于定义全局字体，以显示生僻字。最好不要用来修改字号之类的。 */
@layer {
    body, #searchInput {
        font-family: '文津宋体C 第0平面', '文津宋体C 第2平面', '文津宋体C 第3平面';
        line-height: 1.5em;
    }
    img {
        max-width: 90vw;
    }
    u {
        text-underline-offset: 5px;
        margin: 0 1px;
    }
}